body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    height: 480px;
    width: 320px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px;
}

.main-wrapper * {
    position: absolute;
}

.top-frame {
    height: 240px;
    width: 320px;
    overflow: hidden;
    background-color: #fcb529;
}

.bottom-frame {
    height: 240px;
    width: 320px;
    top: 240px;
    overflow: hidden;
}

.man1 {
    top: 195px;
}

.grapes {
    top: -240px;
}

.text1  {
    top: -240px;
    left: -200px;
}

.banana {
    top: 92px;
    left: -219px;
    transform: rotate(213deg);
}

.woman1, .woman3 {
    top: 240px;
}
.broccoli, .tomato {
    top: -480px;
}

.woman2 {
    left: 320px;
}

.eggplant {
    left: -320px;
}

.last-frame {
    opacity: 0;
}